.hero {
  position: relative;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1100px;
  gap: 5rem;
  row-gap: 0rem;
  padding: 70px 20px 100px;
  color: hsl(var(--foreground));
  overflow: hidden;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr;
    padding: 40px 20px 80px;
    gap: 2rem;
  }
}

.backgroundImage {
  position: absolute;
  top: 0;
  width: 100%;
  height: auto;
  min-height: calc(100vh + 80px); // Adjusted to use viewport height
  object-fit: cover;
  z-index: 0;
}

.profileCardContainer {
  grid-column: 1 / 2;
  align-self: start;

  @media (max-width: 1200px) {
    grid-column: 1 / -1;
    width: 100%;
    order: 1;
  }
}

.mainContent {
  max-width: 881px;
  grid-column: 2 / 3;

  @media (max-width: 1200px) {
    max-width: 700px;
    grid-column: 1 / -1;
    order: 3;
  }
}

.text {
  flex: 2;

  @media (max-width: 1200px) {
    flex: none;
  }
}

.job,
.name {
  z-index: 10;
  padding: 12px 16px;
  border-radius: var(--radius);
  font-size: 1.6rem;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);

  @media (max-width: 1000px) {
    font-size: 1.4rem;
    border-radius: 12px;
    padding: 10px 16px;
  }

  @media (max-width: 600px) {
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 6px 12px;
  }
}

.job {
  background-color: hsla(var(--foreground), 1);
  color: hsl(var(--background));
}

.name {
  background-color: hsla(var(--background), 0.3);
  color: hsl(var(--foreground));
  border: 1px solid hsl(var(--foreground));
}

.text h1 span {
  margin-right: 10px;
}

.declarationContainer {
  grid-column: 2 / 3;

  @media (max-width: 1200px) {
    grid-column: 1 / -1;
    order: 4;
    margin-top: -1.5rem;
  }
}

.declaration {
  max-width: 881px;
  font-size: 1.4rem;
  line-height: 1.6;
  color: hsl(var(--secondary-foreground));

  @media (max-width: 1200px) {
    max-width: 700px;
  }

  @media (max-width: 1050px) {
    font-size: 1.2rem;
  }

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.ctaButton {
  display: inline-flex;
  align-items: center;
  padding: 12px 24px;
  font-size: 1.2rem;
  border: 2px solid hsl(var(--foreground));
  border-radius: 8px;
  color: hsl(var(--foreground));
  background-color: hsla(var(--background), 0.8);
  transition: 0.3s;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  margin-top: 32px;
  box-shadow: var(--box-shadow);
  backdrop-filter: blur(10px);

  &:hover {
    border: 2px solid hsl(var(--primary));
    color: hsl(var(--primary));
  }

  @media (max-width: 1200px) {
    grid-column: 1 / -1;
    margin-top: 1rem;
  }
}

.arrowIcon {
  margin-left: 8px;
  font-size: 1.4rem;
  transition: transform 0.3s ease;

  .ctaButton:hover & {
    transform: rotate(135deg);
  }
}

.additionalText {
  margin-top: 10px;
  font-size: 1rem;
  color: hsl(var(--secondary-foreground));
  grid-column: 1 / 2;

  @media (max-width: 1200px) {
    grid-column: 1 / -1;
    margin-top: -0.5rem;
    order: 2;
  }

  @media (max-width: 600px) {
    font-size: 0.8rem;
    margin-top: -1rem;
  }
}

.availability {
  display: flex;
  align-items: center;
  margin-top: 4px;

  @media (max-width: 600px) {
    margin-top: 3px;
  }
}

.dot {
  width: 8px;
  height: 8px;
  background-color: #00ff00; /* Bright green */
  border-radius: 50%;
  margin-right: 12px;
  box-shadow: 0 0 10px #00ff00, 0 0 20px #00ff00; /* Glow effect */

  @media (max-width: 600px) {
    width: 6px;
    height: 6px;
    margin-right: 4px;
  }
}

.illustrations {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  overflow: hidden;
  z-index: 1;
}

.circle,
.square {
  position: absolute;
  background-color: hsl(var(--primary));
  opacity: 0.2;
}

.circle {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  top: 20%;
  left: 45%;

  @media (max-width: 1200px) {
    width: 120px;
    height: 120px;
    left: 15%;
    top: 40%;
  }

  @media (max-width: 600px) {
    width: 100px;
    height: 100px;
    left: 15%;
    top: 35%;
  }
}

.square {
  width: 100px;
  height: 100px;
  top: 70%;
  right: 5%;

  @media (max-width: 1200px) {
    width: 85px;
    height: 85px;
    top: 80%;
    right: 38%;
  }

  @media (max-width: 600px) {
    width: 75px;
    height: 75px;
    top: 85%;
    right: 15%;
  }
}
