.introText {
  margin-bottom: 30px;
  margin-top: 70px;
  font-size: 1.2rem;
  color: hsl(var(--secondary-foreground));

  @media (max-width: 1000px) {
    margin-top: 50px;
    margin-bottom: 35px;
  }

  @media (max-width: 600px) {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 40px;
}

.projectLinkWrapper {
  color: inherit;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
}

.projectImage {
  width: 100%;
  height: auto;
}

.projectTitle {
  font-size: 1.8rem;
  margin: 20px 0 10px;
}

.projectDescription {
  font-size: 0.9rem;
  line-height: 1.4;
  color: hsl(var(--secondary-foreground));
  padding: 0 15px;
  flex-grow: 0;
  margin-bottom: 20px;
}

.note {
  margin-top: 50px;
  font-size: 1.2rem;
  color: hsl(var(--secondary-foreground));
  text-align: center;

  @media (max-width: 1000px) {
    margin-top: 40px;
  }

  @media (max-width: 600px) {
    margin-top: 30px;
  }
}

@media (max-width: 600px) {
  .projectsGrid {
    grid-template-columns: 1fr;
    gap: 20px;
    margin-bottom: 1rem;
  }

  .projectCard {
    margin-bottom: 20px;
  }
}
