// ProjectsSection.module.scss
.projectsContainer {
  padding: 80px 20px;
  width: 100%;
  margin: auto;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 80px 20px;
  }

  @media (max-width: 600px) {
    padding: 40px 15px;
  }
}

.projects {
  width: 100%;
  max-width: 1100px;
}

.title {
  text-align: left;
  width: 100%;
  position: relative;
  margin-bottom: 60px;

  span {
    position: absolute;
    font-size: 120px;
    opacity: 0.06;
    top: 1rem;
    left: 2rem;

    @media (max-width: 1000px) {
      font-size: 100px;
    }

    @media (max-width: 600px) {
      font-size: 70px;
    }
  }
}

.projectsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 40px;

  @media (max-width: 600px) {
    gap: 20px;
  }
}

.projectCard {
  background-color: hsla(var(--background), 0.8);
  color: hsl(var(--foreground));
  border-radius: var(--radius);
  box-shadow: var(--box-shadow);
  overflow: hidden;
  text-align: center;
  padding: 20px;
  transition: transform 0.3s;
  position: relative;

  &:hover {
    transform: translateY(-10px);
  }

  @media (max-width: 600px) {
    padding: 15px;
  }
}

.projectImage {
  width: 100%;
  height: auto;
  border-radius: var(--radius);
  margin-bottom: 20px;
}

.projectTitle {
  font-size: 1.8rem;
  margin: 20px 0 10px;

  @media (max-width: 600px) {
    font-size: 1.6rem;
    margin: 15px 0 8px;
  }
}

.projectDescription {
  font-size: 1.2rem;
  line-height: 1.6;
  color: hsl(var(--secondary-foreground));

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.projectLink {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: hsl(var(--primary));
  border: 1px solid hsl(var(--primary));
  border-radius: var(--radius);
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
  }
}

.projectNotOnline {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  color: hsl(var(--secondary-foreground));
  border: 1px solid hsl(var(--border));
  border-radius: var(--radius);
}

.note {
  margin-top: 60px;
  font-size: 1.2rem;
  color: hsl(var(--secondary-foreground));
  text-align: center;

  @media (max-width: 600px) {
    font-size: 1rem;
    margin-top: 40px;
  }
}
