.projectsContainer {
  padding: 80px 20px;
  width: 100%; // Ensure the container spans the full width
  margin: auto;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 1200px) {
    padding: 80px 20px;
  }

  @media (max-width: 600px) {
    padding: 40px 15px;
  }
}
