.cardsContainer {
  display: flex;
  gap: 40px;
  justify-content: center;
  margin-bottom: 32px;

  @media (max-width: 1100px) and (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'card1 card2'
      'card3 card3';
    gap: 20px;
    justify-items: center;
  }

  @media (max-width: 600px) {
    flex-direction: column;
    gap: 16px;
    align-items: center;
  }
}

.serviceCard {
  color: hsl(var(--foreground));
  border-radius: var(--radius);
  background-color: hsl(var(--muted));
  box-shadow: var(--box-shadow);
  overflow: hidden;
  max-width: 350px;
  text-align: center;
  padding: 20px;
  backdrop-filter: blur(10px);
  transition: box-shadow 0.3s;

  &:hover {
    box-shadow: var(--hover-box-shadow);
  }

  @media (max-width: 1100px) and (min-width: 600px) {
    width: 100%;
  }

  @media (max-width: 600px) {
    max-width: 100%;
  }
}

/* Assign grid areas to cards */
.serviceCard:nth-child(1) {
  @media (max-width: 1100px) and (min-width: 600px) {
    grid-area: card1;
  }
  border: 1px solid hsla(var(--primary), 0.5);
  background-color: hsla(var(--primary), 0.1);
}

.serviceCard:nth-child(2) {
  @media (max-width: 1100px) and (min-width: 600px) {
    grid-area: card2;
  }
  border: 1px solid hsla(var(--destructive), 0.5);
  background-color: hsla(var(--destructive), 0.1);
}

.serviceCard:nth-child(3) {
  @media (max-width: 1100px) and (min-width: 600px) {
    grid-area: card3;
  }
  border: 1px solid hsla(var(--chart-1), 0.5);
  background-color: hsla(var(--chart-1), 0.1);
}

.cardImage {
  width: auto;
  max-width: 100%;
  height: 200px;
  border-radius: var(--radius);
  margin-bottom: 20px;

  @media (max-width: 1100px) {
    height: 150px;
    margin-bottom: 15px;
  }

  @media (max-width: 600px) {
    height: 120px;
    margin-bottom: 8px;
  }
}

.cardTitle {
  font-size: 1.8rem;
  margin: 20px 0 10px;

  @media (max-width: 1100px) {
    font-size: 1.6rem;
    margin: 15px 0 8px;
  }

  @media (max-width: 600px) {
    font-size: 1.4rem;
    margin: 8px 0 6px;
  }
}

.cardDescription {
  font-size: 1.2rem;
  line-height: 1.6;
  color: hsl(var(--secondary-foreground));

  @media (max-width: 1100px) {
    font-size: 1.1rem;
  }

  @media (max-width: 600px) {
    font-size: 1rem;
  }
}

.ctaLink {
  color: hsl(var(--primary));
  text-decoration: none;
  border-bottom: 1px solid hsl(var(--primary));
  transition: color 0.3s, border-color 0.3s;

  &:hover {
    color: hsl(var(--foreground));
    border-color: hsl(var(--foreground));
  }
}

.questionsTitle {
  width: 100%;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 30px;
}
