.faqItem {
  position: relative;
  border: 1px solid hsla(var(--secondary-foreground), 0.3);
  background-color: hsla(var(--card));
  box-shadow: var(--box-shadow);
  border-radius: var(--radius);
  margin-bottom: 15px;
  padding: 20px 30px;
  cursor: pointer;
  transition: border-color 0.4s ease;

  &.open {
    border-color: transparent;
  }

  @media screen and (max-width: 600px) {
    padding: 16px 24px;
  }
}

.questionWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.questionIndex {
  font-size: 1.4rem;
  color: hsl(var(--secondary-foreground));
  font-variant-numeric: tabular-nums;
  margin-right: 15px;

  @media screen and (max-width: 768px) {
    margin-right: 8px;
    font-size: 1.1rem;
  }
}

.question {
  font-size: 1.2rem;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
  }
}

.faqAnswer {
  color: hsl(var(--secondary-foreground));
  overflow: hidden;
}

.iconWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  background-color: hsl(var(--muted));
  width: 40px;
  min-width: 40px;
  height: 40px;
  border: none;
  color: hsl(var(--foreground));
  font-size: 20px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.2s, color 0.2s;
}

.icon {
  font-size: 2rem;
  font-weight: 300;
}
