.profileWrapper {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  .slices {
    display: flex;
    position: relative;
    z-index: 1;
    align-items: center;
  
    .slice {
      width: 30px; /* Ajuste la largeur selon ton besoin */
      height: 75px; /* Ajuste la hauteur selon ton besoin */
      clip-path: ellipse(100% 50% at 100% 50%);
      background-color: hsl(var(--foreground));; /* Couleur du slice */
      position: relative;
    }
  
    .slice2 {
      width: 23px;
      height: 65px;
    }
  
    .slice3 {
      width: 18px;
      height: 55px;
    }
  }
  
  .profileImageContainer {
    position: relative;
    align-items: center;
    z-index: 1;
  
    .profileBackgroundCircle {
      position: absolute;
      width: 90px;
      height: 90px;
      background-color: hsl(var(--foreground));; /* Même couleur de fond que les slices */
      border-radius: 50%;
      z-index: 0;
    }
  
    .profileImage {
      position: relative;
      z-index: 1;
  
      img {
        width: 90px; /* Ajuste la taille de l'image */
        height: 90px;
        border-radius: 50%;
      }
    }
  }
  
  .textContainer {
    margin-left: 20px;
    height: 100px;
    background-color: hsl(var(--background));
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
    
    h3 {
      font-size: 1.5rem;
      color: hsl(var(foreground)); /* Couleur du texte */
    }
  
    p {
      color: hsl(var(--secondary-foreground));
      font-size: 1rem;
    }
  
    .email {
      text-decoration: none;
      color: hsl(var(--secondary-foreground));
      margin-top: 10px;
      opacity: 1;
    
     &:hover{
      color: hsl(var(--primary))
      }
    }
  }
  