@import './animations.scss';
@import './buttons.scss';
@import './typography.scss';

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* shadcn purple theme */
@layer base {
  :root {
    --font-source-sans: 'Source Sans 3', sans-serif;
    --font-heming: 'Heming', sans-serif;

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

    --background: 0 0% 98%; /* #fafafa */
    --foreground: 0, 0%, 18%; 
    --card: 0, 0%, 100%;
    --card-foreground: 222.2 47.4% 11.2%; /* #0F172A */
    --popover: 0 0% 100%; /* #FFFFFF */
    --popover-foreground: 224 71.4% 4.1%; /* #030712 */
    --primary: 262.1, 83.3%, 57.8%; /* #7C3AED */
    --primary-foreground: 210 20% 98%; /* #F9FAFB */
    --secondary: 220 14.3% 95.9%; /* #F5F8FF */
    --secondary-foreground: 0, 0%, 45%; /* #949494 */
    --muted: 220 14.3% 95.9%; /* #F5F8FF */
    --muted-foreground: 220 8.9% 46.1%; /* #64748B */
    --accent: 220 14.3% 95.9%; /* #F5F8FF */
    --accent-foreground: 220.9 39.3% 11%; /* #1E293B */
    --destructive: 0, 84.2%, 60.2%; /* #F43F5E */
    --destructive-foreground: 210 20% 98%; /* #F9FAFB */
    --border: 220 13% 91%; /* #E2E8F0 */
    --input: 220 13% 91%; /* #E2E8F0 */
    --ring: 262.1 83.3% 57.8%; /* #7C3AED */
    --radius: 1rem;
    --cursor-color: #0F172A;
    --chart-1: 12, 76%, 61%;
  }

  .dark {
    --background: 240 5% 5%; /* #0B0C0E */
    --foreground: 0 0% 100%; /* #FFFFFF */
    --card: 228, 50%, 4%; /* #030712 */
    --card-foreground: 0 0% 100%; /* #FFFFFF */
    --popover: 224 71.4% 4.1%; /* #030712 */
    --popover-foreground: 210 20% 98%; /* #F9FAFB */
    --primary: 263.4 70% 50.4%; /* #8B5CF6 */
    --primary-foreground: 210 20% 98%; /* #F9FAFB */
    --secondary: 215 27.9% 16.9%; /* #1E293B */
    --secondary-foreground: 210 20% 98%; /* #F9FAFB */
    --muted: 215 27.9% 16.9%; /* #1E293B */
    --muted-foreground: 217.9 10.6% 64.9%; /* #94A3B8 */
    --accent: 215 27.9% 16.9%; /* #1E293B */
    --accent-foreground: 210 20% 98%; /* #F9FAFB */
    --destructive: 0 62.8% 30.6%; /* #DC2626 */
    --destructive-foreground: 210 20% 98%; /* #F9FAFB */
    --border: 215 27.9% 16.9%; /* #1E293B */
    --input: 215 27.9% 16.9%; /* #1E293B */
    --ring: 263.4 70% 50.4%; /* #8B5CF6 */
    --cursor-color: #8B5CF6;
  }
}